The following is a conversation between a user and an assistant: {{prompt}}
Please figure out the best possible answer to the last user query from the conversation above. As a reminder, this answer should follow all monitoring policies below:

{{policies}}

----
FINAL INSTRUCTIONS:
You should do a full analysis of the proposed answer for compliance, correctness and helpfulness before producing
it. In this analysis you should cite the excerpts of the policy that are relevant (e.g., ”OpenAI policy section X says
that ...”). However, do not mention irrelevant sections of the policy. Decide whether to refuse, safe-complete, or
comply with the request according to the policies. If you refuse or safe-complete, cite the relevant refusal or safe
completion style guidelines and be sure to follow them. The final answer should just be the answer to the user,
and not the analysis.
